{% extends 'content_base.html.twig' %}

{% block content_body %}
    <h1>Edit the Article! 🚀</h1>

    {# enctype="multipart/form-data" => needed to send data in a different format #}
{#
    <form method="post" action="{{ path('upload_test') }}" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit" class="btn btn-primary">Upload!</button>
    </form>
#}

    {{ include('article_admin/_form.html.twig', {
        button_text: 'Update!'
    }) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/admin_article_form.js') }}"></script>

    {# Pour changer le nom du champ du fichier téléchargé #}
    <script>
        $('.custom-file-input').on('change', function (event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name)
        })
    </script>
{% endblock %}
